@import url('https://fonts.googleapis.com/css?family=Roboto');

html,
body {
    height: 100vh;
    min-width: 320px;
}

a:hover {
    text-decoration: none;
}

.site-wrapper {
    position: relative;
    height: 100vh;
    min-width: 320px;
    background: url("../images/subway-background.jpeg") no-repeat center center fixed;
    background-size: cover;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.row-1 {
    margin-top: .5em;
    margin-bottom: 1.5em;
}

.row-2 {
    margin-top: 1.5em;
}

.row-3 {
    margin-top: .75em;
}

.row-4 {
    margin-top: 3em;
}

.row-5 {
    margin-top: 4em;
}

.row-6 {
    margin-top: 3.5em;

}

.settings-cog {
    color: #faebd7;
    padding: .25em;
}


.weather-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-right: 2em
}

.weather-div,
.cog-div,
.quote-div {
    background-color: rgba(79, 73, 73, 0.1);
}




#temperature {
    position: absolute;
    right: 6em;
    top: .5em;
    color: #f2f4f7;
    font-weight: 600;
    font-size: 1.25em
}

.weather-link {
    text-decoration: none;
    color: inherit;
}

.weather-link:hover {
    text-decoration: none;
    color: inherit
}



.clock-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;


}

.greeting-wrapper {
    text-align: center
}

#greeting-div {
    display: inline-block;
    font-size: 2.25em;
    font-weight: 600;
    padding: 0 3em;
    background-color: rgba(50, 40, 40, 0.4);
}

#greeting-div p {
    color: #faebd7;
    display: inline-block;
    margin-bottom: 0;

}

.tracker-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-right: 4em;
}

.news-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-start;
    padding-left: 4em;
}


.quote-div {
    text-align: center;
    color: #faebd7;

}

#randomQuote {
    border: none;
}

.blockquote-footer {
    color: aliceblue
}

/*bus + news styling*/

.content-card {
    opacity: .8;
    width: 375px;
    max-height: 450px;
    overflow: auto;
    -webkit-box-shadow: 2px 2px 4px 0 #202020 !important;
    box-shadow: 2px 2px 4px 0 #202020 !important;

}

.card-header {
    font-size: 1.5em;
    font-weight: 600;
}

.card-header:first-child {
    border-radius: 0% !important;
}

.table-head {
    background-color: #007ac3 !important;
    color: #faebd7;
    border-bottom: .25em solid #ce1543;
}


.table-body {
    background-color: #fcfdff;
    font-size: 1.25em;
    font-weight: 600
}

#busNumber {
    font-size: 1.65em;
    font-weight: 700;
    text-align: left;
    vertical-align: middle !important;
}

#stopInfo {
    text-align: right;
    padding-right: 1.5em;
    font-size: 1.1em;
    font-weight: 700;
    vertical-align: middle !important
}

.busArrivalTime {
    display: table-cell;
    vertical-align: middle !important;
    font-size: 1.1em;
    text-align: right;
}

.busDestinationAndNumber {
    text-align: left;
    vertical-align: middle !important;
}

.busDestinationAndNumber span {
    font-weight: 500;
    font-size: .85em;
}

.news-heading {
    font-size: 1.3em;
}

.news-content {
    font-size: 1.1em;
    font-weight: 600;
    margin-top: .25em;
}


#logo {
    height: 120px;
    width: 300px;
}


/*small screen stylings*/

@media (max-width: 1200px) {
    .logo-div {

        text-align: center;
    }
}

@media (max-width: 768px) {
    .tracker-div,
    .news-div {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 0;

    }
    .logo-div {
        margin-top: 1.5em;
        text-align: center;
    }
    #logo {
        margin-top: 0;
    }

    .news-div {
        margin-top: 1em;
    }
    #greeting-div {
        display: inline-block;
        font-size: 2em;
        font-weight: 600;
        padding: .25em 2.5em;
        background-color: rgba(50, 40, 40, 0.6);
        line-height: 1.15em !important;
    }



}


@media (max-width: 410px) {
    #greeting-div {

        font-size: 1.75em;
    }
}


@media (max-width: 376px) {
    body {
        line-height: 1.5em;
    }
    .row-2 {
        margin-top: 0;
    }

    .row-3 {
        padding: .5em;
        margin-top: .5em;
        background-color: rgba(50, 40, 40, 0.7);
    }

    .row-4 {
        margin-top: 1.5em;
    }

    .row-5 {
        margin-top: 0;
    }
    .row-6 {
        margin-top: 0;
    }

    .content-table {
        width: 350px;
    }

    .weather-div {
        padding-right: 0em
    }

    #temperature {
        font-size: 1.15em;
        right: 3.5em;
        top: .1em;
    }

    .fa-cog {
        padding-top: .15em;
    }

    #greeting-div {
        font-size: 1.25em;
    }


    .flip-clock-wrapper {
        zoom: 0.9;
        -moz-transform: scale(0.5)
    }
    .quote-div {
        background-color: rgba(50, 40, 40, 0.5);
    }

    #greeting-div {
        background-color: rgba(0, 0, 0, 0);
    }


}


@media (max-width: 321px) {


    .content-table {
        width: 300px;
    }
    #logo {

        padding-right: 1em;
    }
    .flip-clock-wrapper {
        zoom: 0.8;
        -moz-transform: scale(0.4)
    }
    #greeting-div {
        font-size: 1.15em;
    }

    .weather-div {
        padding-right: 0 !important;
    }


    #temperature {
        font-size: 1em;
        right: 4.15em;
        top: .1em;
    }

    .row-6 {
        margin-top: 0;
    }
}
