body {
    background: url(../images/city_water_cloud_boat-11242.jpg!d) no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: grid;
}

.container {
    width: 40vw;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: .9;
    border: .5em lightblue outset;
    align-self: center;
    justify-self: center;
}

.container li {
    padding: .25em 0;
}

.firebaseui-info-bar {
    display: none;
}

.logo {
    height: 100%;
    width: 100%;
    margin: 0 auto;

}
@media only screen and (max-width: 840px){

 .container {
     width: 80vw;
    }
 }

@media only screen and (max-width: 320px){

    .container {
        width: 100vw;
    }

    ::-webkit-scrollbar {
    display: none;
    }

    .firebaseui-idp-list span{
    font-size: 0.7em;
    }
}
