.modal-header,
h4,
.close {
    background-color: #5cb85c;
    color: white !important;
    text-align: center;
    font-size: 30px;
}

.modal-open .container-fluid,
.modal-open .container {
    -webkit-filter: blur(.25em) grayscale(50%);
}

#input-modal {
    padding-top: 10%;
}

.modal-content {
    box-shadow: .25em .25em 1em #4F4949 !important;


}

.modal-header,
h5,
h3,
h4 {
    display: block !important;
}

input,
textarea,
select,
.form-control,
#dropDowns {
    -webkit-box-shadow: inset 1px 1px 2px 0 #707070 !important;
    box-shadow: inset 1px 1px 4px 0 #707070 !important;
    border-radius: 2% !important;
    display: block !important;
    width: 100%;
    background: rgb(238, 238, 238);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(238, 238, 238, 1)), color-stop(9%, rgba(238, 238, 238, 1)), to(rgba(238, 238, 238, 1))) !important;
    background: linear-gradient(to bottom, rgba(238, 238, 238, 1) 0%, rgba(238, 238, 238, 1) 9%, rgba(238, 238, 238, 1) 100%) !important;
  
}

input:hover,
textarea:hover,
select:hover,
.form-control:hover,
#dropDowns:hover {
    -webkit-box-shadow: inset 1px 1px 4px 0 #B3DDF2 !important;
    box-shadow: inset 1px 1px 4px 0 #B3DDF2 !important;
}

#stop-select {
    margin-top: 1em;
}

.modal-header {
    padding: 1em 2em;
    background-color: #3A2E39;

}
.modal-body {
    padding: 3em 4em;
    background-color: #D3D4D9;
}

.btn {
    background-color: #4B88A2 !important;
}

@media (max-width: 376px) {
    #input-modal {
        padding-top: 15%;
    }
    .modal-header,
    h5,
    h3,
    h4 {
        font-size: 1.25em;
    }
}