.modal-header,
h4,
.close {
    background-color: #5cb85c;
    color: white !important;
    text-align: center;
    font-size: 30px;
}

.modal-footer {
    background-color: #f9f9f9;
}

.modal-open .container-fluid,
.modal-open .container {
    -webkit-filter: blur(500px) grayscale(90%);
}
