* {
  overflow-x: hidden;
  overflow-y: hidden; }
  * ::-webkit-scrollbar {
    display: none; }

.center {
  justify-self: center;
  align-self: center;
  text-align: center; }

body {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  grid-template-rows: 1.5fr 6fr 0.1fr;
  grid-template-areas: "header header header" ". mainContent ." "footer footer footer";
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  background: url("../images/chicagoSkyline.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0; }
  body #header {
    grid-area: header;
    display: grid;
    background: -webkit-linear-gradient(bottom, rgba(44, 62, 80, 0.6), transparent);
    background: -o-linear-gradient(bottom, rgba(44, 62, 80, 0.6), transparent);
    background: -moz-linear-gradient(bottom, rgba(44, 62, 80, 0.6), transparent);
    background: linear-gradient(to bottom, rgba(44, 62, 80, 0.6), transparent);
    grid-template-columns: 3fr 5fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: "logo . clock"; }
    body #header .logo {
      grid-area: logo;
      height: 100%;
      width: 100%;
      opacity: 1; }
    body #header #clock {
      grid-area: clock;
      opacity: 1;
      display: grid; }
  body #mainContent {
    grid-area: mainContent;
    height: 100%;
    display: grid;
    overflow-y: hidden;
    max-width: 100% !important; }
    body #mainContent .autoplay {
      margin-bottom: 0; }
      body #mainContent .autoplay .slick-list {
        height: 90%;
        border: 2px solid rgba(206, 21, 67, 0.3); }
        body #mainContent .autoplay .slick-list .slick-track {
          height: 100% !important;
          position: relative; }
          body #mainContent .autoplay .slick-list .slick-track .slick-slide {
            text-align: center;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.05);
            overflow: hidden; }
            body #mainContent .autoplay .slick-list .slick-track .slick-slide .homePage {
              display: grid;
              height: 100%;
              width: 100%;
              grid-template-columns: 1fr;
              grid-template-rows: 1fr 1fr;
              grid-template-areas: "greeting" "weather";
              overflow: hidden; }
              body #mainContent .autoplay .slick-list .slick-track .slick-slide .homePage .greeting {
                grid-area: greeting;
                display: grid;
                font-size: 10vh;
                font-family: 'Indie Flower', cursive;
                color: rgba(255, 255, 255, 0.7);
                max-height: 80%;
                overflow: hidden; }
              body #mainContent .autoplay .slick-list .slick-track .slick-slide .homePage .weather {
                grid-area: weather;
                display: grid;
                font-size: 5vh;
                font-family: 'Indie Flower', cursive;
                color: rgba(255, 255, 255, 0.7);
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr;
                grid-template-areas: ". . temperature";
                max-height: 80%;
                overflow: hidden; }
                body #mainContent .autoplay .slick-list .slick-track .slick-slide .homePage .weather .temperature {
                  grid-area: temperature; }
            body #mainContent .autoplay .slick-list .slick-track .slick-slide .container {
              width: 100%;
              height: 100%;
              background-color: rgba(0, 0, 0, 0.5);
              overflow: hidden; }
              body #mainContent .autoplay .slick-list .slick-track .slick-slide .container .table .bus-time-table {
                width: 100%;
                max-width: 100% !important;
                max-height: 100% !important; }
                body #mainContent .autoplay .slick-list .slick-track .slick-slide .container .table .bus-time-table .time-table-head {
                  background-color: rgba(0, 122, 195, 0.8);
                  color: #fcfdff; }
                  body #mainContent .autoplay .slick-list .slick-track .slick-slide .container .table .bus-time-table .time-table-head #busNumber {
                    font-size: 3.25em;
                    font-weight: 700;
                    text-align: left;
                    padding: 5px; }
                  body #mainContent .autoplay .slick-list .slick-track .slick-slide .container .table .bus-time-table .time-table-head #stopInfo {
                    text-align: right;
                    padding: 5px;
                    font-size: 1.1em;
                    font-weight: 700;
                    vertical-align: middle; }
                body #mainContent .autoplay .slick-list .slick-track .slick-slide .container .table .bus-time-table .time-table-body {
                  background-color: rgba(252, 253, 255, 0.8);
                  font-size: 1.6em;
                  font-weight: 600; }
                  body #mainContent .autoplay .slick-list .slick-track .slick-slide .container .table .bus-time-table .time-table-body tr {
                    border: 1px black solid;
                    position: relative; }
                  body #mainContent .autoplay .slick-list .slick-track .slick-slide .container .table .bus-time-table .time-table-body .busArrivalTime {
                    font-size: 1.25em;
                    text-align: left;
                    vertical-align: middle;
                    padding: 5px; }
                  body #mainContent .autoplay .slick-list .slick-track .slick-slide .container .table .bus-time-table .time-table-body .busDestinationAndNumber {
                    text-align: right;
                    vertical-align: middle;
                    padding: 5px; }
                    body #mainContent .autoplay .slick-list .slick-track .slick-slide .container .table .bus-time-table .time-table-body .busDestinationAndNumber span {
                      font-weight: 200;
                      font-size: .85em; }
      body #mainContent .autoplay .slick-dots {
        bottom: 0; }
  body #footer {
    display: grid;
    grid-area: footer;
    height: 100%;
    width: 100%;
    text-align: center;
    color: #adad41;
    font-size: 2vh;
    font-family: 'Indie Flower', cursive;
    text-shadow: 1px 1px black;
    background: -webkit-linear-gradient(top, #2c3e50, rgba(255, 255, 255, 0));
    background: -o-linear-gradient(top, #2c3e50, rgba(255, 255, 255, 0));
    background: -moz-linear-gradient(top, #2c3e50, rgba(255, 255, 255, 0));
    background: linear-gradient(to top, #2c3e50, rgba(255, 255, 255, 0)); }

@media only screen and (max-width: 740px) {
  html {
    zoom: 100%;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); }
    html body {
      grid-template-columns: 0.1fr 1fr 0.1fr;
      grid-template-rows: 2fr 6fr 1fr;
      grid-template-areas: "header header header" ". mainContent ." "footer footer footer";
      overflow: scroll; }
      html body #header {
        grid-template-columns: 4fr 0.5fr 4fr;
        grid-template-rows: 1fr;
        grid-template-areas: "logo . clock";
        min-height: 100px; }
      html body #mainContent .autoplay .slick-list .slick-track .slick-slide .homePage {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
        grid-template-areas: "greeting" "weather"; }
        html body #mainContent .autoplay .slick-list .slick-track .slick-slide .homePage .greeting {
          font-size: 5vh;
          padding-top: 20px; }
        html body #mainContent .autoplay .slick-list .slick-track .slick-slide .homePage .weather {
          font-size: 4vh;
          font-weight: bold;
          color: white;
          text-shadow: black;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: 1fr;
          grid-template-areas: " temperature temperature temperature"; }
      html body #mainContent .autoplay .slick-list .slick-track .slick-slide .container .table .bus-time-table {
        font-size: 1vh; }
        html body #mainContent .autoplay .slick-list .slick-track .slick-slide .container .table .bus-time-table .time-table-body .busDestinationAndNumber {
          text-align: right; } }
